<?xml version="1.0" encoding="UTF-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 将target交给spring管理 -->
    <bean id="car" class="com.spring.aop.AspectJ_demo.CarImpl"/>
    <!-- 将aspect交给spring管理 -->
    <bean id="myAspect" class="com.spring.aop.AspectJ_demo.MyAspect"/>
    <!-- 配置weaving -->
    <aop:config>
        <!-- 配置pointcut -->
        <aop:pointcut id="pointcut1" expression="execution(* com.spring.aop.AspectJ_demo.CarImpl.start(..))"/>
        <!-- 配置advice -->
        <aop:aspect ref="myAspect">
            <aop:before method="checkCar" pointcut-ref="pointcut1"/>
            <!--<aop:after method="fixCar" pointcut-ref="car"/>-->
        </aop:aspect>
    </aop:config>
</beans>