<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo1.mapper.UserMapper">
    <!-- 配置userMap -->
    <resultMap id="userMap" type="com.mybatis.demo1.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
    </resultMap>

    <!-- sql片段 -->
    <sql id="user_column">
        `id`,
        `username`,
        `gender`,
        `phone`,
        `address`
    </sql>

    <!-- 按照id查询用户 -->
    <select id="getUserById" parameterType="int" resultMap="userMap">
        select
         <include refid="user_column"/>
         from user
          <where>
              id=#{id}
          </where>
    </select>

    <!-- 通过包装类查询 -->
    <select id="getUserByUser" parameterType="com.mybatis.demo1.pojo.User" resultMap="userMap">
        select
         <include refid="user_column"/>
         from user
          <where>
              <if test="id!=null">
                  id=#{id}
              </if>
          </where>
    </select>

    <!--  -->
    <select id="getUserList" resultMap="userMap">
        select
        <include refid="user_column"/>
        from user
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.mybatis.demo1.pojo.User" useGeneratedKeys="true" keyColumn="id">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
         SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user values (null,#{username},#{gender},#{phone},#{address})
    </insert>
</mapper>